/* mwds.css - MoreWindows ©LJM12914
 * oink组件。https://github.com/openink/mwds
 */
@keyframes gin{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes popup{
    0%{transform: scale(.6);}
    60%{transform: scale(1.04);}
    100%{transform: unset;}
}
*{
    outline: none;
    /*cursor不可更改*/
    cursor: initial;
}
html{font-size: 16px;}
/*body建议生产时注释掉*/
body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.ds-win,#ds-overlay > *{
    box-shadow: 0 .4rem .9rem 0 #00000033;
    /*兼容没有box-shadow的IE9以下*/
    border: solid .0625rem #00000010;
    /*will-change会影响内部元素的position:fixed，并且确实没有什么作用*/
    /*will-change: top, left;*/
    border-radius: .3125rem;
    background-color: white;
    padding: .5em .8em .5em .8em;
}
.ds-win{
    /*position不可更改*/
    position: fixed !important;
    /*z-index不可更改*/
    z-index: 50;
    animation: gin .5s ease-out;
}
.ds-a{position: absolute !important;}
.ds-mov{cursor: grab;}
.ds-tra{
    background-color: #ffffff00;
    transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}
.ds-tra:hover{background-color: white;}
.ds-tp{/*position不可更改*/position: relative;}
.ds-tt{
    /*position不可更改*/
    position: absolute !important;
    /*display不可更改*/
    display: none;
    /*z-index不可更改*/
    z-index: 999 !important;
    text-align: center;
    border-radius: .4em;
    font-size: .75em;
    color: whitesmoke;
    padding: .5em;
    background-color: lightslategray;
    opacity: 0;
}
.ds-tt-t,.ds-tt-t-t{bottom: calc(100% + .5rem);}
.ds-tt-b,.ds-tt-b-t{top: calc(100% + .5rem);}
.ds-tt-l,.ds-tt-l-t{
    right: calc(100% + .8rem);
    min-width: 8ch;
}
.ds-tt-r,.ds-tt-r-t{
    left: calc(100% + .8rem);
    min-width: 8ch;
}
.ds-tt-t-t::after{
    position: inherit;
    content: "";
    top: 100%;
    left: 50%;
    margin-left: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: lightslategray transparent transparent transparent;
}
.ds-tt-b-t::after{
    position: inherit;
    content: "";
    bottom: 100%;
    left: 50%;
    margin-left: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: transparent transparent lightslategray transparent;
}
.ds-tt-l-t::after{
    position: inherit;
    content: "";
    top: 50%;
    left: 100%;
    margin-top: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: transparent transparent transparent lightslategray;
}
.ds-tt-r-t::after{
    position: inherit;
    content: "";
    top: 50%;
    right: 100%;
    margin-top: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: transparent lightslategray transparent transparent;
}
:hover > .ds-tt{
    /*display不可更改*/
    display: block;
    opacity: 0.92;
}
#ds-overlay{
        height: 100%;
    height: 100vh;
        width: 100%;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: background-color .2s ease-in-out;
}
#ds-overlay:not(:empty){
    background-color: #00000066;
    z-index: 9999999;
}
#ds-overlay > *{
    align-self: center;
    animation: popup .15s ease-in-out;
    position: fixed;
}