/* mwds.css - MoreWindows ©LJM12914
 * oink组件。https://github.com/openink/mwds
 */
@keyframes gin{
    from{opacity: 0;}
    to{opacity: 1;}
}
*{
    /*outline建议生产时注释掉*/
    outline: none;
    /*cursor不可更改*/
    cursor: initial;
}
html{
    font-size: 16px;
}
/*body建议生产时注释掉*/
body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.ds-win{
    /*position不可更改*/
    position: fixed !important;
    /*z-index不可更改*/
    z-index: 50;
    animation: gin .5s ease-out;
    box-shadow: 0 .4rem .9rem 0 #00000033;
    /*兼容没有box-shadow的IE9以下*/
    border: solid .0625rem #00000010;
    /*will-change会影响内部元素的position:fixed，并且确实没有什么作用*/
    /*will-change: top, left;*/
    border-radius: .3125rem;
    background-color: white;
    padding: .5em .8em .5em .8em;
}
.ds-a{
    /*position不可更改*/
    position: absolute !important;
}
.ds-mov{
    /*cursor不可更改*/
    cursor: grab;
}
.ds-tra{
    background-color: #ffffff00;
    transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}
.ds-tra:hover{
    background-color: white;
}
.ds-tp{
    /*position不可更改*/
    position: relative;
}
.ds-tt{
    /*position不可更改*/
    position: absolute !important;
    /*opacity不可更改*/
    opacity: 0;
    /*z-index不可更改*/
    z-index: 999 !important;
    text-align: center;
    border-radius: .5em;
    font-size: .75em;
    color: whitesmoke;
    padding: .4em;
    background-color: lightslategray;
}
.ds-tt-gra{
    transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
}
.ds-tt-t,.ds-tt-t-t{
    bottom: 108%;
}
.ds-tt-b,.ds-tt-b-t{
    top: 108%;
}
.ds-tt-l,.ds-tt-l-t{
    right: 105%;
    min-width: 8ch;
}
.ds-tt-r,.ds-tt-r-t{
    left: 105%;
    min-width: 8ch;
}
.ds-tt-t-t::after{
    position: inherit;
    content: "";
    top: 100%;
    left: 50%;
    margin-left: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: lightslategray transparent transparent transparent;
}
.ds-tt-b-t::after{
    position: inherit;
    content: "";
    bottom: 100%;
    left: 50%;
    margin-left: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: transparent transparent lightslategray transparent;
}
.ds-tt-l-t::after{
    position: inherit;
    content: "";
    top: 50%;
    left: 100%;
    margin-top: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: transparent transparent transparent lightslategray;
}
.ds-tt-r-t::after{
    position: inherit;
    content: "";
    top: 50%;
    right: 100%;
    margin-top: -0.375rem;
    border-width: .375rem;
    border-style: solid;
    border-color: transparent lightslategray transparent transparent;
}
:hover > .ds-tt{
    /*opacity不可更改*/
    opacity: 0.92;
}
#overlay{
        height: 100%;
    height: 100vh;
        width: 100%;
    width: 100vw;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#overlay > *{

}